
body{
    font-family: 'Roboto Slab', serif;
}
.about{
    font-size: 18px;
    font-weight: 300;
    color: grey;
    margin-bottom: 24px;
}
.botton{
    background-color: black;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
}
.contact{
    margin-bottom: 48px;
}

.container{
    background-image: linear-gradient(to right,rgba(255,255,255,0.8),rgba(255,255,255,0.5)),url(https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 128px;
}
@media screen and (max-width: 768){
    .container{
        padding: 48px;
    }
}
    
.contact-icon{
   width: 16px;
    margin-right: 8px;
}
.contact-item{
    margin-bottom: 4px;
}
.content{
    max-width: 550px;
}
.job{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.name{
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.profile-photo{
    width: 210px;
    height: 210px;
    margin-bottom: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 0px 0px black;

}
.title{
    font-size: 96px;
    font-weight: 600;
    text-align: center;
}


